.page__quote {
  margin-bottom: 150px;
}

.quote-wrap {
  position: relative;
  max-width: 704px;
  margin: 0 auto;
}

.blockquote {
  font-family: Cormorant, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.quote__bc-image {
  position: absolute;
  bottom: -15px;
  right: -40px;
  z-index: -1;
}
